body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    scale: 100px;
}

.person:hover {
    animation: shake 2s alternate ease-in-out;
    cursor: url(heart.png), pointer;
}

@keyframes shake {
    from {
        scale: 90px;
    }
    to{
        scale: 110px;
    }
}